   *{
	padding:0px;
	margin:0px;
}

 body{
  
  background:url(../img/s8.jpg);
  color:#000;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  font-family:Comic Sans MS;
 
  
  
}
.banner{
  color:white;
}
table{
  border:0;
}

  h1 {
  margin: .67em 0;
  font-size: 2em;
  color:black;
  text-shadow: 2px 1px 0px #ffffff, 5px 5px 0px purple;
}
  .pollo{
     color:red;
  }
   .img{
   border-radius: 9px;	
   background:#000;
   padding:3px;
}
    .img_histo{
	 border-radius: 9px;	
     background:#000;
     padding:3px;
	}
	 .img_menu{
	    border-radius: 9px;	
       background:#000;
       padding:3px;
	 }
   .ofert_img{
       position:absolute;
	   left:232px;
	   top:540px;
	   border-radius:9px;
	
   }
   .ofert_img2{
      border-radius:9px;
	  background:black;
	  padding:5px;
   }
   
  .plato{
      padding:30px;
      background:white;
     color:#fff;	 
	 border-radius: 8px;	 
     text-align:center;
	 background:#000000;
	  text-shadow: 3px 3px 0px #444, 2px 2px 0px blue;
	  
 }
 
  .tablass{
     border: white  1px;
	 
  }


.parrafo{
	  width:50%;
	 background:white;
	  color:black;
	  padding:25px;
	   text-shadow: 3px 3px 0px #444, 2px 2px 0px blue;
	   border-radius: 9px;
	  }
   .parr_hist{
       color:white;
	   width:50%;
	   text-shadow: 3px 3px 0px #444, 2px 2px 0px blue;
   }
   .parr_nosotros{
    color:white;
	   width:50%;
	    text-shadow: 3px 3px 0px #444, 2px 2px 0px blue;
	    border-radius: 9px;
   }
   .parr_mision{
    color:white;
	   width:50%;
	    text-shadow: 3px 3px 0px #444, 2px 2px 0px blue;
	    border-radius: 9px;
   }
					  .chef{
								float:left;
								margin:20px;
								 border-radius: 9px;
								 background:black;
                                padding:3px;
						}
					.after{
                       float:right;
                       margin:0px 20px;
                       border-radius: 9px;	
                      background:black;
                      padding:3px;					  
					}
						.parra2 {
						width:50%;
						   color:#fff;
						    text-shadow: 3px 3px 0px #444, 2px 2px 0px blue;
						}
  	               .parr_bebi{
				         
				        background:#000;
						padding:20px;
						color:#ffffff;
						text-align:center;
				   }
	  .bebidas{
	      border-radius: 9px;	
		  background :#000;
		  padding:2px;
	  }
  	
	.footer{
	 float:right;
	}
  .slider_dos{
     border-radius:px;
	 
  }
    .video{
	   width:600px;
	   height:600px;
	   }
  /*menu*/
  
#header{
					  margin:auto;
					  width:650px;
					  font-family:arial;
					}
					ul,ol{
					 list-style:none;
					}
					.nav li a {
						border-radius: 13px;
					   background-color:#000000;
					   text-shadow: 2px 1px 0px #444, 2px 2px 0px purple;
						color:#DCDCDC;
					   text-decoration:none;
					   padding:10px 15px;
					   display:block;
					  
					}
					.nav li a:hover{
					  background-color:#008080;
					}
					.nav > li {
					  float:left;
					}
					.nav li ul{
					  display:none;
					  position:absolute;
					  min-width:140px;
					}
					.nav li:hover > ul{
					  display:block;
					}
					.nav li ul li {
					    position:relative;
					}
					.nav li ul li ul{
					  right:-140px;
					  top:0px;
					}

					h2{
					padding:10px;
					   text-align:center;
					   font-family:algerian;
					}
					h3{
					 text-align:center;
					  color:red;
					   font-family:algerian;
					}
				
                    /*slider*/
 
   @keyframes slider{
					  
						
						0% {
						 left:0%;
						}
					    20% {
						 left:0%;
						}
						25% {
						 left:-100%;
						}
						45% {
						 left:-100%;
						}
						50% {
						 left:-200%;
						}
						70% {
						 left:-200%;
						}
				
						}
						
						
						
					#slider{
						  overflow:hidden;
						 
						}
					#slider figure img {
					     width: 20%;
						 float:left;
					}
					#slider figure{
					   position:relative;
					   width:500%;
					   margin:0;
					   left:0;
					   text-align:left;
					   font-size:0;
					   animation: 10s slider infinite;
					}
					
                }
				/*slider 2 */
				
				   @keyframes slider{
					  
						
						0% {
						 left:0%;
						}
					    20% {
						 left:0%;
						}
						25% {
						 left:-100%;
						}
						45% {
						 left:-100%;
						}
						50% {
						 left:-200%;
						}
						70% {
						 left:-200%;
						}
							95% {
						 left:-300%;
						}
						100% {
						 left:-400%;
						}
				 }
						
						
						
					#slide{
						  overflow:hidden;
						  width:40%;
						 
						}
					#slide figure img {
					     width: 20%;
						 float:left;
						 
					}
					#slide figure{
					   position:relative;
					   width:500%;
					   margin:0;
					   left:0;
					   text-align:left;
					   font-size:0;
					   animation: 5s slider infinite;
					}
					
                }
                 @keyframes slider{
					  
						
						0% {
						 left:0%;
						}
					    20% {
						 left:0%;
						}
						25% {
						 left:-100%;
						}
						45% {
						 left:-100%;
						}
						50% {
						 left:-200%;
						}
						70% {
						 left:-200%;
						}
							95% {
						 left:-300%;
						}
						100% {
						 left:-400%;
						}
				 }
						
						
						
					#slide{
						  overflow:hidden;
						  width:40%;
						 
						}
					#slide figure img {
					     width: 20%;
						 float:left;
						 
					}
					#slide figure{
					   position:relative;
					   width:500%;
					   margin:0;
					   left:0;
					   text-align:left;
					   font-size:0;
					   animation: 5s slider infinite;
					}
					
                }
                 @keyframes slider{
					  
						
						0% {
						 left:0%;
						}
					    20% {
						 left:0%;
						}
						25% {
						 left:-100%;
						}
						45% {
						 left:-100%;
						}
						50% {
						 left:-200%;
						}
						70% {
						 left:-200%;
						}
							95% {
						 left:-300%;
						}
						100% {
						 left:-400%;
						}
				 }
						
						
						
					#slide{
						  overflow:hidden;
						  width:40%;
						 
						}
					#slide figure img {
					     width: 20%;
						 float:left;
						 
					}
					#slide figure{
					   position:relative;
					   width:500%;
					   margin:0;
					   left:0;
					   text-align:left;
					   font-size:0;
					   animation: 5s slider infinite;
					}
					
                }
                 @keyframes slider{
					  
						
						0% {
						 left:0%;
						}
					    20% {
						 left:0%;
						}
						25% {
						 left:-100%;
						}
						45% {
						 left:-100%;
						}
						50% {
						 left:-200%;
						}
						70% {
						 left:-200%;
						}
							95% {
						 left:-300%;
						}
						100% {
						 left:-400%;
						}
				 }
						
						
						
					#slide{
						  overflow:hidden;
						  width:40%;
						 
						}
					#slide figure img {
					     width: 20%;
						 float:left;
						 
					}
					#slide figure{
					   position:relative;
					   width:500%;
					   margin:0;
					   left:0;
					   text-align:left;
					   font-size:0;
					   animation: 5s slider infinite;
					}
					
                }
  








